.container {
    display: grid;
    grid-template-rows: 1fr 9fr 2fr;

    row-gap: 10px;
    height: 1000px;
    margin-bottom: 100px;
}

.container * {
    
    border-radius: 4px;
    border: solid rgb(145, 4, 4) 10px;
    text-align: center;
}